
body {
  font-family: Arial, sans-serif;
  background-color: #6A0203;
  color: white;
  font-size: 15px;
}

a:hover {
  img {
    filter: brightness(110%);
  }
}



.header {
  background: #290000 url('../images/base/1_header/header-background_Tantra-masaze-Praha.png') no-repeat center top;
  position: relative;

  .header-top {
    max-width: 930px;
    height: 164px;
    margin: 0 auto;
    position: relative;

    .header-top-inner {
      height:164px;
      margin: 0;
      width: 100%;

      h1 {
        position: absolute;
        top: 40px;
        left: 200px;

        @media screen and (max-width: 800px) {
          left: 160px;
        }
        @media screen and (max-width: 700px) {
          left: 140px;
        }
        @media screen and (max-width: 440px) {
          top: 50px;
        }
        @media screen and (max-width: 365px) {
          left: 120px;
        }
      }
    }
  }
}



.header-text {

  .header-text-telephone {

    .header-text-telephone-text {
      display: block;
      position: absolute;
      top: 84px;
      right: 170px;

      @media screen and (max-width: 620px) {
        display: none;
      }
    }

    .header-text-telephone-number {
      display: block;
      position: absolute;
      top: 80px;
      right: 0;
    }

    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  .header-text-center-integrity {

    .header-text-center-integrity-text-1 {
      position: absolute;
      top: 130px;
      right: 227px;
    }

    .header-text-center-integrity-logo {
      position: absolute;
      top: 125px;
      right: 155px;
    }

    .header-text-center-integrity-text-2 {
      position: absolute;
      top: 130px;
      right: 0;
    }

    @media screen and (max-width: 800px) {

      .header-text-center-integrity-text-1 {
        top: 120px;
      }

      .header-text-center-integrity-logo {
        top: 115px;
      }

      .header-text-center-integrity-text-2 {
        top: 120px;
      }
    }

    @media screen and (max-width: 720px) {
      display: none;
    }
  }
}



.header-langs {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background: #1E0000 url('../images/base/1_header/header-langs-top-line_Tantra-masaze-Praha.png') no-repeat center -1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media screen and (max-width: 600px) {
    background-image: none;

    a {
      padding-top: 5px !important;
    }
  }

  a {
    display: block;
    padding: 15px 5px 10px;
    float: left;

    &:hover img {
      filter: brightness(130%);
    }
  }
}



.header-female {
  position: absolute;
  top: 56px;
  left: -20px;

  @media screen and (max-width: 1030px) {
    & {
      left: 20px;
    }
  }
  @media screen and (max-width: 930px) {
    & {
      left: 20px;
      /*top: 49px !important;*/

      img {
        height: 250px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    top: 14px !important;
    left: 20px;

    img {
      height: 150px;
    }
  }
}



.header-images {
  background: #1E0000 url('../images/base/1_header/header-background-images_Tantra-masaze-Praha.png') no-repeat center top;

  .header-images-inner-1 {
    max-width: 930px;
    height: 160px;
    margin:0 auto;
    position: relative;

    .header-images-inner-2 {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 -10px;

      @include clear();

      img {
        display: block;
        width: 126px;
        height: 126px;
        float: left;
        margin: 18px 10px;
        border: 1px solid black;
      }
    }
  }

  @media screen and (max-width: 800px) {
    display: none;
  }
}


.header-menu {
  height: 85px;
  background: #4B0102 url('../images/base/3_menu/menu_line_Tantra-masaze-Praha.png') repeat-x 0 39px;

  li {
    display: block;
    width: 100px;
    margin: 0 3px;
    float: left;
    background: url('../images/base/3_menu/menu_Tantra-masaze-Praha.png') no-repeat center 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-position: center -315px;
    }

    a {
      display: block;
      width: 100%;
      height: 45px;
      padding: 10px 0 0;
      color: white;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .header-menu-top {
    max-width: 930px;
    height: 45px;
    margin: 0 auto;
    position: relative;

    .header-menu-top-inner {
      height: 45px;
      position: absolute;
      right: 0;
      top: 0;
      padding-left: 10px;

      @media screen and (max-width: 930px) {
        width: 100%;
        padding-left: 100px;
      }

      @media screen and (max-width: 930px) {
        width: 100%;
        padding-left: 10px;
      }
    }
  }

  .header-menu-bottom {
    width: 100%;
    height: 40px;
    background-color: #910203;

    .header-menu-bottom-inner {
      max-width: 930px;
      margin:0 auto;
      height: 40px;

      .header-menu-bottom-inner-2 {
        padding-left: 191px;

        @media screen and (max-width: 930px) {
          padding-left: 103px;
        }

        @media screen and (max-width: 930px) {
          padding-left: 13px;
        }

        @media screen and (max-width: 750px) {
          padding-left: 10px !important;
        }

        li {
          background: url('../images/base/3_menu/menu_Tantra-masaze-Praha.png') no-repeat center -40px;
          padding-top: 5px;
          width: 100px;
        }

        li:hover {
          background-position: center -360px;
        }
      }
    }
  }

  .menu-photogallery,
  .menu-articles,
  .menu-contact {
    @media screen and (max-width: 850px) {
      width:95px;
    }
    @media screen and (max-width: 750px) {
      width:80px;
    }
    @media screen and (max-width: 699px) {
      width:100px;
    }
  }

  .menu-more {
    display: none;
    position: relative;

    @media screen and (max-width: 650px) {
      display: block;
    }

    ul {
      display: none;
      position: absolute;
      z-index: 100;
    }

    &:hover {
      ul {
        display: block;
        padding-top: 10px;

        li {
          background-color: #910203 !important;
          background-image: none !important;
          padding-top: 5px;

          &:hover {
            background: #DC0403 url('../images/base/3_menu/menu-submenu_Tantra-masaze-Praha.png') no-repeat center center !important;
          }
        }
      }
    }
  }
}









.content {
  background-color: #910203;
  text-align: justify;

  @include clear();

  .content-inner {
    max-width: 930px;
    margin: 0 auto;
    position: relative;

    .page {
      width: 70.5%;
      float: left;
      margin-top: 20px;

      .page-inner {
        padding: 0 20px;
      }
    }

    .column {
      width: 29.5%;
      float: right;
      padding-top: 10px;
      position: relative;
      margin-top: -50px;
      padding-bottom: 100px;

      .column-inner {
        background-color: #4E0000;

        position: relative;
      }
    }

    @media screen and (max-width: 700px) {
      .page {
        width: 100%;
      }
      .column {
        width: 100%;
        top: 50px;
      }
    }
  }
}








.footer {
  border-top: 3px solid #F79319;
  background-color: #1E0000;
  font-size: 12px;
  z-index: 10;
  position: relative;
  top: 0;

  .footer-inner {
    max-width: 930px;
    margin: 0 auto;
    padding: 10px 20px;

    .footer-icons {
      float: left;

      @media screen and (max-width: 700px) {
        display: block;
        float: none;
        text-align: center;
        padding-bottom: 5px;
      }
    }

    .footer-text {
      text-align: center;

      span {
        white-space: nowrap;
      }
    }
  }
}
