/*************************************************/
/*                   COLUMN                      */
/*************************************************/

.column {
  background-color: #4E0000;

  .column-item {
    margin: 30px 0;
  }
}



/*************************************************/
/*                    Links                      */
/*************************************************/

.column-links {
  text-align: center;

  a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    background: url('../images/column/column-links-separator_Tantra-masaze-Praha.png') no-repeat center bottom;
    padding: 5px 0 7px;

    @media screen and (max-width: 930px) {
      background-image: url('../images/column/column-links-separator-small_Tantra-masaze-Praha.png');
    }
  }

  a:last-of-type {
    background-image: none;
  }
}



/*************************************************/
/*                    Video                      */
/*************************************************/

.column-video {
  width: 100%;
  max-width: 275px;
  padding: 1px;
  position: relative;
  cursor: pointer;
  margin: 0 auto -50px;

  img {
    width: 100%;
  }

  p {
    color: white;
    position: relative;
    line-height: 20px;
    bottom: 52px;
    left: 10px;
    font-size: 17px;
  }
}



/*************************************************/
/*                    Icons                      */
/*************************************************/

.column-icons {
  padding: 0 20px;

  .icon {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    min-width: 100px;
    color: white;
    text-decoration: none;
    font-size: 13px;
  }
  .icon:before {
    content: "";
    display: block;
    margin: 0 auto;
    height: 100px;
    background: url('../images/column/icons_Tantra-masaze-Praha.png') no-repeat;
  }
  .icon:hover:before {
    filter: brightness(110%);
  }
  .icon-virtual-tour:before {
    background-position: center -5px;
  }
  .icon-events-and-discounts:before {
    background-position: center -924px;
  }
  .icon-cooperation:before {
    background-position: center -650px;
  }
}

.column-icons-homepage {
  position:relative;
  text-align: center;

  .icon-cooperation {
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 850px) {
    .icon {
      display: block;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 700px) {
    .icon {
      display: inline-block;
      margin: 0 20px;
    }
    margin: 0 auto;

    @include clear();
  }
}



/*************************************************/
/*                  References                   */
/*************************************************/

.column-references {
  margin: 1px;
  background-color: #3E0200;
  position: relative;

  @media screen and (max-width: 700px) {
    margin: 0 20px;
  }

  h3 {
    color: #3E0616;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background: url('../images/title-background_Tantra-masaze-Praha.png') no-repeat center center;
  }

  p {
    margin: 30px 30px 10px;
    color: white;
    font-size: 13px;
  }

  .column-references-author {
    color: #E79700;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .column-references-decoration {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../images/column/column-references-decoration_Tantra-masaze-Praha.png') no-repeat 0 0;
  }
  .column-references-decoration-top-right {
    top: 40px;
    right: 0;
    background-position: right top;
  }
  .column-references-decoration-top-left {
    top: 40px;
    left: 0;
    background-position: left top;
  }
  .column-references-decoration-bottom-right {
    bottom: 0;
    right: 0;
    background-position: right bottom;
  }
  .column-references-decoration-bottom-left {
    bottom: 0;
    left: 0;
    background-position: left bottom;
  }
}



/*************************************************/
/*               Become masseuse                 */
/*************************************************/

.column-become-masseuse {
  margin: 1px;
  img {
    width:100%;
    max-width: 277px;
    display: block;
    margin: 0 auto;
  }
}



/*************************************************/
/*                   Facebook                    */
/*************************************************/

.column-facebook {
  text-align: center;

  img {
    width: 100%;
    max-width: 277px;
  }
}



/*************************************************/
/*                   Articles                    */
/*************************************************/

.column-article {

  h3 {
    background: #410300 url('../images/column/column-title-decoration_Tantra-masaze-Praha.png') no-repeat 0 0;
    height: 36px;
    line-height: 36px;
    padding-left: 60px;
    color: #E79700;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      height: 35px;
      margin-right: 20px;
      border-top: 1px solid #E79700;
      border-bottom: 1px solid #E79700;
    }
  }

  p {
    margin: 6px 20px 0 17px;
    color: white;
    font-size: 14px;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .read-more {
    color: #E79700;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}



/*************************************************/
/*                 Cooperation                   */
/*************************************************/

.column-firms {
  max-width: 275px;
  margin: 0 auto;

  h3 {
    color: #4D0C07;
    text-transform: uppercase;
    background: url('../images/title-background_Tantra-masaze-Praha.png') no-repeat center center;
    text-align: center;
    padding: 15px;
  }

  img {
    width: 100%;
  }

  .column-firms-text {
    background-color: #350000;
    color: white;
    font-size: 14px;
    padding: 20px;
  }

  .column-firms-discount {
    background: url('../images/title-background_Tantra-masaze-Praha.png') no-repeat center center;
    color: #4D0C07;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 10px;
  }
}



/*************************************************/
/*                    Gift                       */
/*************************************************/

.column-gift {
  position: relative;
  max-width: 275px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #4D0C07;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
