
/*************************************************/
/*                  HOMEPAGE                     */
/*                   Slider                      */
/*************************************************/

.homepage-slider {
  max-width: 568px;
  overflow: hidden;
  margin: 0 auto 40px;

  img {
    width: 100%;
    border: 1px solid black;
  }
}



/*************************************************/
/*                  HOMEPAGE                     */
/*                  Massages                     */
/*************************************************/

.homepage-massages {
  .homepage-massage {
    position: relative;

    h2 {
      color: #F6A200;
      background-color: #270100;
      font-weight: bold;
    }

    p {
      color: white;
      background-color: #4C0200;
    }

    img {
      position: absolute;
      top: -40px;
    }
  }

  .homepage-massage-for-men,
  .homepage-massage-from-man-for-man {
    margin: 80px 10px 70px 150px;

    h2 {
      padding: 10px 10px 10px 100px;
    }

    p {
      padding: 10px 10px 10px 100px;
    }

    img {
      left: -130px;
    }
  }

  .homepage-massage-for-women,
  .homepage-massage-for-couples {
    margin: 80px 70px 70px 27px;

    h2 {
      padding: 10px 175px 10px 10px;
    }

    p {
      padding: 10px 180px 10px 10px;
    }

    img {
      right: -50px;
    }
  }

  @media screen and (max-width: 500px) {
    .homepage-massage {
      margin: 20px 0;

      h2 {
        padding: 10px;
        margin: 0;
      }

      p {
        padding: 10px;
        margin: 0;
        min-height: 125px;
      }

      img {
        width: 100px;
        top: 0 !important;
        z-index: 10;
      }
    }

    .homepage-massage-for-men,
    .homepage-massage-from-man-for-man {
      p {
        padding-left: 130px;
      }
      img {
        top: 50px !important;
        left: 15px;
      }
    }

    .homepage-massage-for-women,
    .homepage-massage-for-couples {
      p {
        padding-right: 130px;
      }

      img {
        right: 15px;
        top: 48px !important;
      }
    }
  }
}



/*************************************************/
/*                  HOMEPAGE                     */
/*                   School                      */
/*************************************************/

.homepage-school {
  margin-bottom: 60px;

  h2 {
    background: url('../images/title-background_Tantra-masaze-Praha.png') no-repeat 0 top;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    line-height: 18px;

    span {
      white-space: nowrap;
      display: inline-block;

      @media screen and (max-width: 843px) {
        &.t2 {
          display: none;
        }
      }

      @media screen and (max-width: 700px) {
        &.t2 {
          display: inline-block;
        }
      }

      @media screen and (max-width: 582px) {
        padding: 0 10px;

        &.t2 {
          display: none;
        }
      }
      @media screen and (max-width: 500px) {
        padding: 0;
      }
    }
  }

  .homepage-school-course {
    padding-bottom: 40px;
    background-color: #4E0000;

    @include clear();

    .homepage-school-course-title {
      background-color: #3D0100;
      position: relative;

      h3 {
        color: #F09C00;
        padding: 10px 80px 0 20px;
      }

      h4 {
        color: white;
        padding: 5px 80px 5px 20px;
      }

      .homepage-school-video-icon {
        position: absolute;
        right: 18px;
        top: 10px;
      }
    }

    p {
      margin: 20px;

      img {
        display: inline-block;
        margin: 0 20px 20px 0;
        width: 50%;
        float: left;
        max-width: 252px;
      }
    }

    .read-more {
      text-align: right;
      margin: 0 20px 20px 20px;

      a {
        color: #F09C00;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



/*************************************************/
/*                  HOMEPAGE                     */
/*                  Services                     */
/*************************************************/

.homepage-services {
  max-width: 576px;
  margin: 0 auto 40px;

  h2 {
    text-align: center;
    padding: 20px;
    font-weight: bold;

    color: #DF840A;
    background-color: #460200;
    cursor: pointer;
  }

  img {
    width: 100%;
    cursor: pointer;
    display: block;
  }

  .homepage-service-text {
    background-color: #5C0400;
    border-bottom: 2px solid #893001;
    padding: 20px;

    p {

    }

    .read-more {
      text-align: right;

      a {
        color: #DF840A;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



