html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #6A0203;
  color: white;
  font-size: 15px;
}

a:hover img {
  filter: brightness(110%);
}

.header {
  background: #290000 url("../images/base/1_header/header-background_Tantra-masaze-Praha.png") no-repeat center top;
  position: relative;
}
.header .header-top {
  max-width: 930px;
  height: 164px;
  margin: 0 auto;
  position: relative;
}
.header .header-top .header-top-inner {
  height: 164px;
  margin: 0;
  width: 100%;
}
.header .header-top .header-top-inner h1 {
  position: absolute;
  top: 40px;
  left: 200px;
}
@media screen and (max-width: 800px) {
  .header .header-top .header-top-inner h1 {
    left: 160px;
  }
}
@media screen and (max-width: 700px) {
  .header .header-top .header-top-inner h1 {
    left: 140px;
  }
}
@media screen and (max-width: 440px) {
  .header .header-top .header-top-inner h1 {
    top: 50px;
  }
}
@media screen and (max-width: 365px) {
  .header .header-top .header-top-inner h1 {
    left: 120px;
  }
}

.header-text .header-text-telephone .header-text-telephone-text {
  display: block;
  position: absolute;
  top: 84px;
  right: 170px;
}
@media screen and (max-width: 620px) {
  .header-text .header-text-telephone .header-text-telephone-text {
    display: none;
  }
}
.header-text .header-text-telephone .header-text-telephone-number {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
}
@media screen and (max-width: 520px) {
  .header-text .header-text-telephone {
    display: none;
  }
}
.header-text .header-text-center-integrity .header-text-center-integrity-text-1 {
  position: absolute;
  top: 130px;
  right: 227px;
}
.header-text .header-text-center-integrity .header-text-center-integrity-logo {
  position: absolute;
  top: 125px;
  right: 155px;
}
.header-text .header-text-center-integrity .header-text-center-integrity-text-2 {
  position: absolute;
  top: 130px;
  right: 0;
}
@media screen and (max-width: 800px) {
  .header-text .header-text-center-integrity .header-text-center-integrity-text-1 {
    top: 120px;
  }
  .header-text .header-text-center-integrity .header-text-center-integrity-logo {
    top: 115px;
  }
  .header-text .header-text-center-integrity .header-text-center-integrity-text-2 {
    top: 120px;
  }
}
@media screen and (max-width: 720px) {
  .header-text .header-text-center-integrity {
    display: none;
  }
}

.header-langs {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background: #1E0000 url("../images/base/1_header/header-langs-top-line_Tantra-masaze-Praha.png") no-repeat center -1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 600px) {
  .header-langs {
    background-image: none;
  }
  .header-langs a {
    padding-top: 5px !important;
  }
}
.header-langs a {
  display: block;
  padding: 15px 5px 10px;
  float: left;
}
.header-langs a:hover img {
  filter: brightness(130%);
}

.header-female {
  position: absolute;
  top: 56px;
  left: -20px;
}
@media screen and (max-width: 1030px) {
  .header-female {
    left: 20px;
  }
}
@media screen and (max-width: 930px) {
  .header-female {
    left: 20px;
    /*top: 49px !important;*/
  }
  .header-female img {
    height: 250px;
  }
}
@media screen and (max-width: 800px) {
  .header-female {
    top: 14px !important;
    left: 20px;
  }
  .header-female img {
    height: 150px;
  }
}

.header-images {
  background: #1E0000 url("../images/base/1_header/header-background-images_Tantra-masaze-Praha.png") no-repeat center top;
}
.header-images .header-images-inner-1 {
  max-width: 930px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}
.header-images .header-images-inner-1 .header-images-inner-2 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 -10px;
}
.header-images .header-images-inner-1 .header-images-inner-2:after {
  content: "";
  display: table;
  clear: both;
}
.header-images .header-images-inner-1 .header-images-inner-2 img {
  display: block;
  width: 126px;
  height: 126px;
  float: left;
  margin: 18px 10px;
  border: 1px solid black;
}
@media screen and (max-width: 800px) {
  .header-images {
    display: none;
  }
}

.header-menu {
  height: 85px;
  background: #4B0102 url("../images/base/3_menu/menu_line_Tantra-masaze-Praha.png") repeat-x 0 39px;
}
.header-menu li {
  display: block;
  width: 100px;
  margin: 0 3px;
  float: left;
  background: url("../images/base/3_menu/menu_Tantra-masaze-Praha.png") no-repeat center 5px;
}
.header-menu li:last-child {
  margin-right: 0;
}
.header-menu li:hover {
  background-position: center -315px;
}
.header-menu li a {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 0 0;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.header-menu .header-menu-top {
  max-width: 930px;
  height: 45px;
  margin: 0 auto;
  position: relative;
}
.header-menu .header-menu-top .header-menu-top-inner {
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 10px;
}
@media screen and (max-width: 930px) {
  .header-menu .header-menu-top .header-menu-top-inner {
    width: 100%;
    padding-left: 100px;
  }
}
@media screen and (max-width: 930px) {
  .header-menu .header-menu-top .header-menu-top-inner {
    width: 100%;
    padding-left: 10px;
  }
}
.header-menu .header-menu-bottom {
  width: 100%;
  height: 40px;
  background-color: #910203;
}
.header-menu .header-menu-bottom .header-menu-bottom-inner {
  max-width: 930px;
  margin: 0 auto;
  height: 40px;
}
.header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 {
  padding-left: 191px;
}
@media screen and (max-width: 930px) {
  .header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 {
    padding-left: 103px;
  }
}
@media screen and (max-width: 930px) {
  .header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 {
    padding-left: 13px;
  }
}
@media screen and (max-width: 750px) {
  .header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 {
    padding-left: 10px !important;
  }
}
.header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 li {
  background: url("../images/base/3_menu/menu_Tantra-masaze-Praha.png") no-repeat center -40px;
  padding-top: 5px;
  width: 100px;
}
.header-menu .header-menu-bottom .header-menu-bottom-inner .header-menu-bottom-inner-2 li:hover {
  background-position: center -360px;
}
@media screen and (max-width: 850px) {
  .header-menu .menu-photogallery,
.header-menu .menu-articles,
.header-menu .menu-contact {
    width: 95px;
  }
}
@media screen and (max-width: 750px) {
  .header-menu .menu-photogallery,
.header-menu .menu-articles,
.header-menu .menu-contact {
    width: 80px;
  }
}
@media screen and (max-width: 699px) {
  .header-menu .menu-photogallery,
.header-menu .menu-articles,
.header-menu .menu-contact {
    width: 100px;
  }
}
.header-menu .menu-more {
  display: none;
  position: relative;
}
@media screen and (max-width: 650px) {
  .header-menu .menu-more {
    display: block;
  }
}
.header-menu .menu-more ul {
  display: none;
  position: absolute;
  z-index: 100;
}
.header-menu .menu-more:hover ul {
  display: block;
  padding-top: 10px;
}
.header-menu .menu-more:hover ul li {
  background-color: #910203 !important;
  background-image: none !important;
  padding-top: 5px;
}
.header-menu .menu-more:hover ul li:hover {
  background: #DC0403 url("../images/base/3_menu/menu-submenu_Tantra-masaze-Praha.png") no-repeat center center !important;
}

.content {
  background-color: #910203;
  text-align: justify;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.content .content-inner {
  max-width: 930px;
  margin: 0 auto;
  position: relative;
}
.content .content-inner .page {
  width: 70.5%;
  float: left;
  margin-top: 20px;
}
.content .content-inner .page .page-inner {
  padding: 0 20px;
}
.content .content-inner .column {
  width: 29.5%;
  float: right;
  padding-top: 10px;
  position: relative;
  margin-top: -50px;
  padding-bottom: 100px;
}
.content .content-inner .column .column-inner {
  background-color: #4E0000;
  position: relative;
}
@media screen and (max-width: 700px) {
  .content .content-inner .page {
    width: 100%;
  }
  .content .content-inner .column {
    width: 100%;
    top: 50px;
  }
}

.footer {
  border-top: 3px solid #F79319;
  background-color: #1E0000;
  font-size: 12px;
  z-index: 10;
  position: relative;
  top: 0;
}
.footer .footer-inner {
  max-width: 930px;
  margin: 0 auto;
  padding: 10px 20px;
}
.footer .footer-inner .footer-icons {
  float: left;
}
@media screen and (max-width: 700px) {
  .footer .footer-inner .footer-icons {
    display: block;
    float: none;
    text-align: center;
    padding-bottom: 5px;
  }
}
.footer .footer-inner .footer-text {
  text-align: center;
}
.footer .footer-inner .footer-text span {
  white-space: nowrap;
}

/*************************************************/
/*                   COLUMN                      */
/*************************************************/
.column {
  background-color: #4E0000;
}
.column .column-item {
  margin: 30px 0;
}

/*************************************************/
/*                    Links                      */
/*************************************************/
.column-links {
  text-align: center;
}
.column-links a {
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  background: url("../images/column/column-links-separator_Tantra-masaze-Praha.png") no-repeat center bottom;
  padding: 5px 0 7px;
}
@media screen and (max-width: 930px) {
  .column-links a {
    background-image: url("../images/column/column-links-separator-small_Tantra-masaze-Praha.png");
  }
}
.column-links a:last-of-type {
  background-image: none;
}

/*************************************************/
/*                    Video                      */
/*************************************************/
.column-video {
  width: 100%;
  max-width: 275px;
  padding: 1px;
  position: relative;
  cursor: pointer;
  margin: 0 auto -50px;
}
.column-video img {
  width: 100%;
}
.column-video p {
  color: white;
  position: relative;
  line-height: 20px;
  bottom: 52px;
  left: 10px;
  font-size: 17px;
}

/*************************************************/
/*                    Icons                      */
/*************************************************/
.column-icons {
  padding: 0 20px;
}
.column-icons .icon {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-width: 100px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.column-icons .icon:before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 100px;
  background: url("../images/column/icons_Tantra-masaze-Praha.png") no-repeat;
}
.column-icons .icon:hover:before {
  filter: brightness(110%);
}
.column-icons .icon-virtual-tour:before {
  background-position: center -5px;
}
.column-icons .icon-events-and-discounts:before {
  background-position: center -924px;
}
.column-icons .icon-cooperation:before {
  background-position: center -650px;
}

.column-icons-homepage {
  position: relative;
  text-align: center;
}
.column-icons-homepage .icon-cooperation {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .column-icons-homepage .icon {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .column-icons-homepage {
    margin: 0 auto;
  }
  .column-icons-homepage .icon {
    display: inline-block;
    margin: 0 20px;
  }
  .column-icons-homepage:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*************************************************/
/*                  References                   */
/*************************************************/
.column-references {
  margin: 1px;
  background-color: #3E0200;
  position: relative;
}
@media screen and (max-width: 700px) {
  .column-references {
    margin: 0 20px;
  }
}
.column-references h3 {
  color: #3E0616;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background: url("../images/title-background_Tantra-masaze-Praha.png") no-repeat center center;
}
.column-references p {
  margin: 30px 30px 10px;
  color: white;
  font-size: 13px;
}
.column-references .column-references-author {
  color: #E79700;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.column-references .column-references-decoration {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/column/column-references-decoration_Tantra-masaze-Praha.png") no-repeat 0 0;
}
.column-references .column-references-decoration-top-right {
  top: 40px;
  right: 0;
  background-position: right top;
}
.column-references .column-references-decoration-top-left {
  top: 40px;
  left: 0;
  background-position: left top;
}
.column-references .column-references-decoration-bottom-right {
  bottom: 0;
  right: 0;
  background-position: right bottom;
}
.column-references .column-references-decoration-bottom-left {
  bottom: 0;
  left: 0;
  background-position: left bottom;
}

/*************************************************/
/*               Become masseuse                 */
/*************************************************/
.column-become-masseuse {
  margin: 1px;
}
.column-become-masseuse img {
  width: 100%;
  max-width: 277px;
  display: block;
  margin: 0 auto;
}

/*************************************************/
/*                   Facebook                    */
/*************************************************/
.column-facebook {
  text-align: center;
}
.column-facebook img {
  width: 100%;
  max-width: 277px;
}

/*************************************************/
/*                   Articles                    */
/*************************************************/
.column-article h3 {
  background: #410300 url("../images/column/column-title-decoration_Tantra-masaze-Praha.png") no-repeat 0 0;
  height: 36px;
  line-height: 36px;
  padding-left: 60px;
  color: #E79700;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.column-article h3 span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  height: 35px;
  margin-right: 20px;
  border-top: 1px solid #E79700;
  border-bottom: 1px solid #E79700;
}
.column-article p {
  margin: 6px 20px 0 17px;
  color: white;
  font-size: 14px;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.column-article .read-more {
  color: #E79700;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}
.column-article .read-more:hover {
  text-decoration: underline;
}

/*************************************************/
/*                 Cooperation                   */
/*************************************************/
.column-firms {
  max-width: 275px;
  margin: 0 auto;
}
.column-firms h3 {
  color: #4D0C07;
  text-transform: uppercase;
  background: url("../images/title-background_Tantra-masaze-Praha.png") no-repeat center center;
  text-align: center;
  padding: 15px;
}
.column-firms img {
  width: 100%;
}
.column-firms .column-firms-text {
  background-color: #350000;
  color: white;
  font-size: 14px;
  padding: 20px;
}
.column-firms .column-firms-discount {
  background: url("../images/title-background_Tantra-masaze-Praha.png") no-repeat center center;
  color: #4D0C07;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

/*************************************************/
/*                    Gift                       */
/*************************************************/
.column-gift {
  position: relative;
  max-width: 275px;
  margin: 0 auto;
}
.column-gift img {
  width: 100%;
}
.column-gift h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #4D0C07;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/*************************************************/
/*                  HOMEPAGE                     */
/*                   Slider                      */
/*************************************************/
.homepage-slider {
  max-width: 568px;
  overflow: hidden;
  margin: 0 auto 40px;
}
.homepage-slider img {
  width: 100%;
  border: 1px solid black;
}

/*************************************************/
/*                  HOMEPAGE                     */
/*                  Massages                     */
/*************************************************/
.homepage-massages .homepage-massage {
  position: relative;
}
.homepage-massages .homepage-massage h2 {
  color: #F6A200;
  background-color: #270100;
  font-weight: bold;
}
.homepage-massages .homepage-massage p {
  color: white;
  background-color: #4C0200;
}
.homepage-massages .homepage-massage img {
  position: absolute;
  top: -40px;
}
.homepage-massages .homepage-massage-for-men,
.homepage-massages .homepage-massage-from-man-for-man {
  margin: 80px 10px 70px 150px;
}
.homepage-massages .homepage-massage-for-men h2,
.homepage-massages .homepage-massage-from-man-for-man h2 {
  padding: 10px 10px 10px 100px;
}
.homepage-massages .homepage-massage-for-men p,
.homepage-massages .homepage-massage-from-man-for-man p {
  padding: 10px 10px 10px 100px;
}
.homepage-massages .homepage-massage-for-men img,
.homepage-massages .homepage-massage-from-man-for-man img {
  left: -130px;
}
.homepage-massages .homepage-massage-for-women,
.homepage-massages .homepage-massage-for-couples {
  margin: 80px 70px 70px 27px;
}
.homepage-massages .homepage-massage-for-women h2,
.homepage-massages .homepage-massage-for-couples h2 {
  padding: 10px 175px 10px 10px;
}
.homepage-massages .homepage-massage-for-women p,
.homepage-massages .homepage-massage-for-couples p {
  padding: 10px 180px 10px 10px;
}
.homepage-massages .homepage-massage-for-women img,
.homepage-massages .homepage-massage-for-couples img {
  right: -50px;
}
@media screen and (max-width: 500px) {
  .homepage-massages .homepage-massage {
    margin: 20px 0;
  }
  .homepage-massages .homepage-massage h2 {
    padding: 10px;
    margin: 0;
  }
  .homepage-massages .homepage-massage p {
    padding: 10px;
    margin: 0;
    min-height: 125px;
  }
  .homepage-massages .homepage-massage img {
    width: 100px;
    top: 0 !important;
    z-index: 10;
  }
  .homepage-massages .homepage-massage-for-men p,
.homepage-massages .homepage-massage-from-man-for-man p {
    padding-left: 130px;
  }
  .homepage-massages .homepage-massage-for-men img,
.homepage-massages .homepage-massage-from-man-for-man img {
    top: 50px !important;
    left: 15px;
  }
  .homepage-massages .homepage-massage-for-women p,
.homepage-massages .homepage-massage-for-couples p {
    padding-right: 130px;
  }
  .homepage-massages .homepage-massage-for-women img,
.homepage-massages .homepage-massage-for-couples img {
    right: 15px;
    top: 48px !important;
  }
}

/*************************************************/
/*                  HOMEPAGE                     */
/*                   School                      */
/*************************************************/
.homepage-school {
  margin-bottom: 60px;
}
.homepage-school h2 {
  background: url("../images/title-background_Tantra-masaze-Praha.png") no-repeat 0 top;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  line-height: 18px;
}
.homepage-school h2 span {
  white-space: nowrap;
  display: inline-block;
}
@media screen and (max-width: 843px) {
  .homepage-school h2 span.t2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .homepage-school h2 span.t2 {
    display: inline-block;
  }
}
@media screen and (max-width: 582px) {
  .homepage-school h2 span {
    padding: 0 10px;
  }
  .homepage-school h2 span.t2 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .homepage-school h2 span {
    padding: 0;
  }
}
.homepage-school .homepage-school-course {
  padding-bottom: 40px;
  background-color: #4E0000;
}
.homepage-school .homepage-school-course:after {
  content: "";
  display: table;
  clear: both;
}
.homepage-school .homepage-school-course .homepage-school-course-title {
  background-color: #3D0100;
  position: relative;
}
.homepage-school .homepage-school-course .homepage-school-course-title h3 {
  color: #F09C00;
  padding: 10px 80px 0 20px;
}
.homepage-school .homepage-school-course .homepage-school-course-title h4 {
  color: white;
  padding: 5px 80px 5px 20px;
}
.homepage-school .homepage-school-course .homepage-school-course-title .homepage-school-video-icon {
  position: absolute;
  right: 18px;
  top: 10px;
}
.homepage-school .homepage-school-course p {
  margin: 20px;
}
.homepage-school .homepage-school-course p img {
  display: inline-block;
  margin: 0 20px 20px 0;
  width: 50%;
  float: left;
  max-width: 252px;
}
.homepage-school .homepage-school-course .read-more {
  text-align: right;
  margin: 0 20px 20px 20px;
}
.homepage-school .homepage-school-course .read-more a {
  color: #F09C00;
  text-decoration: none;
}
.homepage-school .homepage-school-course .read-more a:hover {
  text-decoration: underline;
}

/*************************************************/
/*                  HOMEPAGE                     */
/*                  Services                     */
/*************************************************/
.homepage-services {
  max-width: 576px;
  margin: 0 auto 40px;
}
.homepage-services h2 {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #DF840A;
  background-color: #460200;
  cursor: pointer;
}
.homepage-services img {
  width: 100%;
  cursor: pointer;
  display: block;
}
.homepage-services .homepage-service-text {
  background-color: #5C0400;
  border-bottom: 2px solid #893001;
  padding: 20px;
}
.homepage-services .homepage-service-text .read-more {
  text-align: right;
}
.homepage-services .homepage-service-text .read-more a {
  color: #DF840A;
  text-decoration: none;
}
.homepage-services .homepage-service-text .read-more a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
